@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Montserrat:wght@400;600;800&family=Roboto&display=swap");

@layer base {
  body {
    @apply font-[Roboto];
    background-color: #1e1d25;
    height: 100vh;
  }
  body.disable-scroll {
    overflow: hidden;
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

@layer utilities {
  .masonry-3-col {
    column-count: 3;
    column-gap: 1em;
  }
  .masonry-2-col {
    column-count: 2;
    column-gap: 1em;
  }
  .break-inside {
    break-inside: avoid;
  }
}

:root {
  --main-color: #1e1d25;
  --accent-color: #28e6ca;
}

.btn {
  padding: 5px 15px;
  margin: 10px;
  border: 1px solid #fff;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
}

.btn.active {
  background-color: #28e6ca;
  border: 0;
  color: #1e1d25;
}

.navigation {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.homepage-h4 {
  font-family: "Montserrat", sans-serif;
}

/* ///// HERO SECTION ////// */

.bg-hero {
  background-image: url("./assets/home_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition-timing-function: ease-in-out;
  transition: 3s;
}

.bg-fade-out {
  opacity: 0.1;
  filter: blur(10px);
}

.bg-fade-in {
  opacity: 1;
}

.blurr {
  transition-timing-function: ease-in-out;
  transition: 0.5s;
  filter: blur(10px);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 2000ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.hero-header {
  font-family: "Montserrat", sans-serif;
}

.hero-subheader {
  font-family: "Kalam", cursive;
}

/* /////// PORTFOLIO SECTION //////// */

.excerpt-box {
  background-color: #282632;
  padding: 20px;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}
.excerpt-box h2 {
  margin-top: 0;
}

.project-details strong {
  font-weight: bolder;
  color: var(--accent-color);
}
.project-details li {
  padding: 0;
}

/* /////// PAGE CONTENT ///// */

.page-content h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.page-content h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
}

.header-image {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.page-content h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.page-content p {
  margin-bottom: 1.5em;
}
.page-content ol {
  margin-left: 1em;
  margin-bottom: 1em;
  list-style-type: number;
}
.page-content ol li {
  margin-bottom: 0.3em;
}
.page-content ul li {
  cursor: default;
}
.page-content a {
  color: #28e6ca;
}

/* /////// Testimonial Box /////// */

.stars {
  display: inline-block;
  vertical-align: middle;
  top: -12px;
  width: 100%;
  overflow: hidden;
}

.stars:before,
.stars:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 0.5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid #c7cfd5;
}
.stars:after {
  margin: 0 -55% 0 0.5em;
}

.stars img {
  display: inline-block;
  width: 25px;
  height: 25px;
}

/* /////// MEDIA QUERYS /////// */

@media (min-width: 400px) {
  .bg-hero {
    opacity: 0.2;
    background-position: 50% 0%;
  }
}

@media (min-width: 768px) {
  .bg-hero {
    opacity: 0.2;
    background-position: 70%;
  }
}

@media (min-width: 1024px) {
  .bg-hero {
    opacity: 1;
    background-position: 0%;
  }
}
